name: bean-background-init

on:
  push:
    paths:
      - "bean-background-init/**"
    branches:
      - master
  pull_request:
    paths:
      - "bean-background-init/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 21
          cache: "maven"

      - name: Build with Maven
        run: mvn -B -q clean test --file bean-background-init/pom.xml
        
