name: boot-data-cassandra

on:
  push:
    paths:
      - "boot-data-cassandra/**"
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "corretto"
          cache: "maven"
      - name: Build with Maven
        run: mvn -B package --file boot-data-cassandra/pom.xml
