name: declarative-http-client

on:
  push:
    paths:
      - "declarative-http-client/**"
    branches:
      - master
  pull_request:
    paths:
      - "declarative-http-client/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: 17
          cache: "maven"

      - name: Build with Maven
        run: mvn -B -q clean package --file declarative-http-client/pom.xml
