name: jms

on:
  push:
    paths:
      - "jms/**"
    branches:
      - master
  pull_request:
    paths:
      - "jms/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: 21
          cache: "maven"
      - name: Start up Apache Artemis
        run: |
          docker-compose up -d artemis
          sleep 10
          docker ps -a
      - name: Build with Maven
        run: mvn clean install --file jms/pom.xml

