name: problem-details

on:
  push:
    paths:
      - "problem-details/**"
    branches:
      - master
  pull_request:
    paths:
      - "problem-details/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: 17
          cache: "maven"
      - name: Start up PostgreSQL in Docker
        run: |
          docker-compose up -d postgres
          sleep 5
          docker ps -a

      - name: Build with Maven
        run: mvn clean install --file problem-details/pom.xml

